<header>
<div class = "navbar fixed-top">
    <ul>
        <li><a href = "/">HOME</a></li>
        <li><a href = "/about">ABOUT US</a></li>
        <li><a href = "https:www.covid19india.org">COVID-19 </a></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li><a href = "/admin">ADMIN</a></li>
        <li ><a href="/cart"><i  class="fa fa-shopping-cart"></i> 
        CART 
        <i style="color:yellow;" id="cart_n"></i>
        </a></li>
        <button class="navbar-toggler" type="button" data-toggler="collapse"
        data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
        aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
    </ul>
</div>
</header>