<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://kit.fontawesome.com/504a045bb9.js" crossorigin="anonymous">
    <title>Organic Store</title>
</head>
{{!-- {{>header}} --}}
<body>
    {{> header}}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    {{{body}}}

    <div class="container">
        <!-- footer -->
    <footer class="footer">
      <div class="footer-inner">
        <ul>
          <li><font color="black"> Sitemap </font></a></li>
          <li><a href="/contact"> <font color="black"> Contact Me </font></a></li>
          <li> <font color="black"> Privacy & Cookies </font></a></li>
          <li> <font color="black"> Terms of use </font></a></li>
          <li><font color="black"> Trademarks </font></a></li>
          <li> <font color="black"> Safety & eco </font></a></li>
          <li> <font color="black"> About our ads </font></a></li>
          <li><a href="/menu"> <font color="black"> Shopping Website 2020 </font></a></li>
          <li> <font color="black"> Copyright. &copy; </font></a></li>
          <li><a href="https:www.instagram.com"> <font color="black"> Follow Us On instagram , Twitter , Facebook </font></a></li>
          <li> Made By:- SAHIL TANEJA </font></li>
          <li><font color = "black">Profile:- A Web Developer INC., Python Programmer who makes Desktop Application </font></li>
        </ul>
      </div>
    </footer> 
    </div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.10.12/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.2/dist/sweetalert2.all.min.js"></script>

</body>
</html>