<br/><br/><br/>
<div class="cash">
    <form>
        <h1><i>Your Order is Confirmed.</i></h1>
        <h1><i>Thanks For Shopping With Us, Have a Nice Day.</i></h1>
        <h6><i>Call The Delivery-Boy To Be Chill.</i></h6>
        <h6><i>And Also Add The Another-Items.</i></h6>
        <h5><i>Contact No.:-***********</i></h5>
        <h4><i>Press The Go Back Button to Home Page.</i></h4>
        <h4><i>And Start Again Shopping With Us.</i></h4>
        <a href="/menu">Go Back</a>
    </form>
</div>
<br><br>