<br>
<br>
<br>
<br>
<div class="location">
  <h1></h1>
  <h1></h1>
  <h4><i> Please Fill The Following Information Where</i></h4>
  <h4><i> Your Order Will Delivered Soon.</i></h4>
<form action = "/location" method = "POST" >
    <div class = "name">
      <label for="name">Full Name*</label><br/>
      <input type="text" id="name" name="name" size="40" placeholder = "Full Name" required>
    </div>
    <div class = "email">
      <label for="email">E-mail*</label><br/>
      <input type="text" id="email" name="email" size="40" placeholder = "Email" required>
    </div>
    <div class="address">
      <label for="address">Address*</label><br/>
      <input type="address" id="address" name="address" size="40" placeholder = "House no:-321" required>
    </div>
    <div class="city">
      <label for="city">City*</label><br/>
      <input type="city" id="city" name="city" size="40" placeholder="City" required>
    </div>
    <div class="phone_number">
      <label for="phone_number">Phone Number*</label><br/>
      <input type="phone_number" id="phone_number" name="phone_number" size="40" placeholder="Phone number" required>
    </div>
    <br/>
    <button type="submit"><b><i>Submit</i></b></button><br/>
    
</form>
</div>