<br>

<div class="abcd">
    <img src = "img/background.jpg" alt = "img" class="abcdi" width="1400px"
    height="600px" >
</div>
<div class="abcd1" class="abcdi1">
    <a href="/shopnow"> Shop Now   </a>
</div>
<div class = "w3-content w3-section" style = "width:100%">
      <img class = "myslides" src = "img/carousel/slide1.jpg" width="100%" height="86%">
      <img class= "myslides" src = "img/carousel/slide2.jpg" width="100%" height="86%">
      <img class = "myslides" src= "img/carousel/slide3.jpg" width="100%" height="86%">
</div>
<br>
<div class="covid">
        <a href="/covid ">COVID-19 Essentials </a>
</div>
<section class="container content-section">
      <h2 class="section-header"> Best Top Categories</h2>
      <br/>
<div class="shop-items">
          <div class="shop-item">
              <span class="shop-item-title">Shampoo's</span>
              <img class="shop-item-image" src = "img/category/shampoo.jpg" width = "100%">
              <div class="show-details">
                <a href="/shampoo"> Show Details   </a>
              </div>
          </div>
          <div class="shop-item">
              <span class="shop-item-title">Soap's</span>
              <img class="shop-item-image" src="img/category/soap.jpg" width = "100%">
              <div class="show-details">
                <a href="/soap"> Show Details   </a>
              </div>
          </div>
          <div class="shop-item">
              <span class="shop-item-title">Popular Deo's</span>
              <img class="shop-item-image" src="img/category/deo.jpg" width = "100%">
              <div class="show-details">
                <a href="/deo"> Show Details   </a>
              </div>
          </div>
      </div>
</section>
    <br/><br/>
<section class="container content-section">
    <br/>
<div class="shop-items" class="shopping">
          <div class="shop-item">
              <span class="shop-item-title">Biscuits</span>
              <img class="shop-item-image" src = "img/category/biscuit.jpg" width = "100%">
              <div class="show-details">
                <a href="/bs"> Show Details   </a>
              </div>
          </div>
          <div class="shop-item">
              <span class="shop-item-title">Namkeens</span>
              <img class="shop-item-image" src="img/category/namkeen.jpg" width = "100%">
              <div class="show-details">
                <a href="/hr"> Show Details   </a>
              </div>
          </div>
          <div class="shop-item">
              <span class="shop-item-title">cold drinks</span>
              <img class="shop-item-image" src="img/category/cold drinks.jpg" width = "100%">
              <div class="show-details">
                <a href="/cd"> Show Details   </a>
              </div>
          </div>
      </div>
</section>
    <br/><br/>
<section class="container content-section">
    <br/>
<div class="shop-items">
          <div class="shop-item">
              <span class="shop-item-title">Atta and Flour</span>
              <img class="shop-item-image" src = "img/category/atta.jpg" width = "100%">
              <div class="show-details">
                <a href="/atta"> Show Details   </a>
              </div>
          </div>
          <div class="shop-item">
              <span class="shop-item-title">Coffee</span>
              <img class="shop-item-image" src="img/category/coffee.jpg" width = "100%">
              <div class="show-details">
                <a href="/coffee"> Show Details   </a>
              </div>
          </div>
          <div class="shop-item">
              <span class="shop-item-title">Colgate</span>
              <img class="shop-item-image" src="img/category/colgate.jpg" width = "100%">
              <div class="show-details">
                <a href="/colgate"> Show Details   </a>
              </div>
          </div>
      </div>
</section>
    <br/><br/>
<section class="container content-section">
    <br/>
<div class="shop-items">
          <div class="shop-item">
              <span class="shop-item-title">Dal and Pulses</span>
              <img class="shop-item-image" src = "img/category/dal.jpg" width = "100%">
              <div class="show-details">
                <a href="/dal"> Show Details   </a>
              </div>
          </div>
          <div class="shop-item">
              <span class="shop-item-title">Masala and Spices</span>
              <img class="shop-item-image" src="img/category/masala.jpg" width = "100%">
              <div class="show-details">
                <a href="/masala"> Show Details   </a>
              </div>
          </div>
          <div class="shop-item">
              <span class="shop-item-title">Basmati Rice</span>
              <img class="shop-item-image" src="img/category/rice.jpg" width = "100%">
              <div class="show-details">
                <a href="/rice"> Show Details   </a>
              </div>
          </div>
      </div>
</section>
    <br/><br/>
<section class="container content-section">
    <br/>
<div class="shop-items">
          <div class="shop-item">
              <span class="shop-item-title">Salt</span>
              <img class="shop-item-image" src = "img/category/salt.jpg" width = "100%">
              <div class="show-details">
                <a href="/salt"> Show Details   </a>
              </div>
          </div>
          <div class="shop-item">
              <span class="shop-item-title">Tea's</span>
              <img class="shop-item-image" src="img/category/tea.jpg" width = "100%">
              <div class="show-details">
                <a href="/tea"> Show Details   </a>
              </div>
          </div>
          <div class="shop-item">
              <span class="shop-item-title">kitchen Utilities</span>
              <img class="shop-item-image" src="img/category/kitchen.jpg" width = "100%">
              <div class="show-details">
                <a href="/kitchen"> Show Details   </a>
              </div>
          </div>
      </div>
</section>
    <br/><br/>
<section class="container content-section">
    <br/>
<div class="shop-items" class="shopping">
          <div class="shop-item">
              <span class="shop-item-title">Fruits</span>
              <img class="shop-item-image" src = "img/category/fruits.jpg" width = "100%">
              <div class="show-details">
                <a href="/fruits"> Show Details   </a>
              </div>
          </div>
          <div class="shop-item">
              <span class="shop-item-title">Vegetables</span>
              <img class="shop-item-image" src="img/category/vegetables.jpg" width = "100%">
              <div class="show-details">
                <a href="/vegetables"> Show Details   </a>
              </div>
          </div>
          <div class="shop-item">
              <span class="shop-item-title">Milk Products</span>
              <img class="shop-item-image" src="img/category/milk.jpg" width = "100%">
              <div class="show-details">
                <a href="/milk"> Show Details   </a>
              </div>
          </div>
      </div>
</section>
    <br/><br/>
<script type="text/javascript" src="/js/main.js"></script>
<script src="/js/slides.js"></script>