<br/>
<br/>
<div class = "w3-content w3-section" style = "width:100%">
      <img class = "myslides" src = "img/carousel/slide1.jpg" width="100%" height="86%">
      <img class= "myslides" src = "img/carousel/slide2.jpg" width="100%" height="86%">
      <img class = "myslides" src= "img/carousel/slide3.jpg" width="100%" height="86%">
</div>
<br>
<div class="covid">
        <a href="/covid ">COVID-19 Essentials </a>
</div>

<div class="container marketing">
    <br>
    <h2 id="shampoo">Shampoos</h2>
    <hr>
    <div class="row" id="shampooDIV"></div>
    <br>
    <h2 id="soap">Soaps</h2>
    <hr>
    <div class="row" id="soapsDIV"></div>
    <br>
    <h2 id="deo">Popular Deo's</h2>
    <hr>
    <div class="row" id="deoDIV"></div>
    <br>
    <h2 id="bs">Biscuits</h2>
    <hr>
    <div class="row" id="bsDIV"></div>
    <br>
    <h2 id="hr">HalDiRam NamKeens</h2>
    <hr>
    <div class="row" id="hrDIV"></div>
    <br>
    <h2 id="cd">Cold Drinks</h2>
    <hr>
    <div class="row" id="cdDIV"></div>
    <br>
    <h2 id="atta">Atta and Flour</h2>
    <hr>
    <div class="row" id="attaDIV"></div>
    <br>
    <h2 id="coffee">Coffee</h2>
    <hr>
    <div class="row" id="coffeeDIV"></div>
    <br>
    <h2 id="colgate">Colgate</h2>
    <hr>
    <div class="row" id="colgateDIV"></div>
    <br>
    <h2 id="dal">Dal and Pulses</h2>
    <hr>
    <div class="row" id="dalDIV"></div>
    <br>
    <h2 id="masala">Masala and Spices</h2>
    <hr>
    <div class="row" id="masalaDIV"></div>
    <br>
    <h2 id="rice">Rice's</h2>
    <hr>
    <div class="row" id="riceDIV"></div>
    <br>
    <h2 id="salt">Salt</h2>
    <hr>
    <div class="row" id="saltDIV"></div>
    <br>
    <h2 id="tea">Tea's</h2>
    <hr>
    <div class="row" id="teaDIV"></div>
    <br>
    <h2 id="kitchen">Kitchen Utilities</h2>
    <hr>
    <div class="row" id="kitchenDIV"></div>
    <br>
    <h2 id="fruit">Fruits</h2>
    <hr>
    <div class="row" id="fruitDIV"></div>
    <br>
    <h2 id="vegetables">Vegetables</h2>
    <hr>
    <div class="row" id="vegetablesDIV"></div>
    <br>
    <h2 id="milk">Milk</h2>
    <hr>
    <div class="row" id="milkDIV"></div>
    <hr class="featurette-divider">
</div>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/qty.js"></script>
<script src="/js/slides.js"></script>