<br>
<br>
<div class = "about">
        <h3><b><i>About Author</i></b></h3>
        <img src = "img/category/about.jpg" height="1%" width="10%" alt = "img" >

        <br/><br/>
        <p> Hello Everyone, I am Sahil Taneja.<br>
            Basically I present a Shopping-website on the Marketplace<br>
            where you have to buy any Products at very lowest rate as compare to others such as<br>
            1. Shampoo's ,<br>
            2. Soap's ,<br>
            3. Deo's <br>
            4. Atta and Flour, <br>
            5. Coffee , <br>
            6. Colgate ,<br>
            7. Dal and Pulses ,<br>
            8. Masala and Spices ,<br>
            9. Basmati Rice , <br>
            10. Salt ,<br>
            11. Tea , <br>
            12. Kitchen Utilities ,<br>
            13. Vegetables ,<br>
            14. Fruits ,<br>
            15. Milk Products <br><br/>
            It is one of the best marketplace in all over the whole <br/>
            city in Haryana. <br>
            We can also Sell the powerful Products with different Brands.<br>
            Here you can Buy the all products at very low and minimum price.<br>
            Thankyou So much for Watching this Shopping-website.<br>
            <br><br>
            For More Information Or Any Query,<br>
            <a href="/contact">Call Us.</a>
        </p>
</div>