<br/>
<br/>
<div class = "w3-content w3-section" style = "width:100%">
      <img class = "myslides" src = "img/carousel/slide1.jpg" width="100%" height="86%">
      <img class= "myslides" src = "img/carousel/slide2.jpg" width="100%" height="86%">
      <img class = "myslides" src= "img/carousel/slide3.jpg" width="100%" height="86%">
</div>

<div class="container marketing">
    <br>
    <br>
    <h2 id="soap">Soaps</h2>
    <hr>
    <div class="row" id="soapsDIV"></div>
    <br>
    <div  style="left-margin:90%;right-margin:70%;width:180%;height:100%;align-items:center;" id="soapsDIV"></div>
    <br>
    <hr class="featurette-divider">
</div>
<script type="text/javascript" src="/js/soap.js"></script>
<script src="/js/slides.js"></script>